.rewards-card {
  max-width: 500px;

  mat-card-header{
    display: flex;
    // flex-direction: row-reverse;
    margin-bottom: 1rem;
    .rewards-card-title{
      flex-grow: 1;
      .mat-card-title{
        font-size: 14px;
      }
    }

    // .rewards-header-image{
    //   height: 60px;
    //   width: 60px;
    //   flex-shrink: 0;
    //   object-fit: cover;
    //   background-size: cover;
    // }

    .rewards-header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }

  }

  mat-card-content{
    overflow: auto;
    height: 50px;
  }

  .rewards-card-actions{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0.5rem;
    .rewards-card-wear{
      width: 100%;
    }
  }
}